<div style="text-align:center">
  <br>
  <div id="iss_image_round"></div>
  <h1><b>ISS Location</b></h1>
  <h2>Latitude: <%= @lat %></h2>
  <h2>Longitude: <%= @lon %></h2>
  <br>
  <h2><b>Address:</b></h2>

  <% if @data %>
    <h3>
      <a href="http://maps.google.com/maps?&z=13&q=<%= @lat %>+<%= @lon %>&ll=<%= @lat %>+<%= @lon %>">
        <%= @data %>
      </a>
    </h3>
  <% else %>
    <h3>
      <small> 
        <a href="http://maps.google.com/maps?&z=13&q=<%= @lat %>+<%= @lon %>&ll=<%= @lat %>+<%= @lon %>">
          No known land address for the current ISS position.
        </a>
      </small>
    </h3>
  <% end %>

  <hr>
  <%= link_to 'Refresh Position', root_path, class: 'button [secondary success alert]' %>
</div>