<!DOCTYPE html>
<html>
<head>
  <title>ISS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Latest foundation compiled CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/css/foundation.css">
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav'  %>

  <div class="row" id="center_div">
    <!-- Main Content -->
    <div class="large-12 columns">
      <%= yield %>
    </div>
  </div>

</body>
</html>
